[Desktop Entry]
Name=Lock Keys
Comment=An application to display when lock keys are turned on or off.
Type=Application
Icon=com.github.pro0grammer1.lock-keys.capslock
Exec=lock-keys %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
